<div class="my-peeps panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Peeps 
  	<a href="#">
  		Peeps & Replies
  	</a> 
  </div>

  <!-- List group -->
  <% @user.peeps.each do |peep| %> 	
  	<ul class="list-group">
    	<li class="list-group-item">
    		<img id="peep-img" src=<%= @user.avatar_url %>>
    		<section class="peep">	
				<span class="peep-name"><%= @user.name %></span>
				<span class="peep-username">@<%= @user.username %></span><br>
				<%= @peep.message %>
			</section>
    	</li>
  	</ul>
  <% end %>

</div>