<div class="my-peeps panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Peeps</div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
    	<section class="peep">
			<%= @peep.message %>
		</section>
    </li>

  </ul>
</div>