<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <a class="navbar-brand" href="#">Chitter</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/">
            <i class="fa fa-home fa-lg"></i> Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bell fa-lg"></i> Notifications
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-slack fa-lg"></i> Discover
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user fa-lg"></i> Me
          </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <div class="right-inner-addon">  
              <i class="fa fa-search"></i>
              <input type="text" class="form-control" placeholder="Search Chitter">
            </div>  
          </div>
      </form>
        <li>
          <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
        </li>      
        <li>
          <a href="#"><i class="fa fa-cog fa-lg"></i></a>
        </li>      
        <li>
          <a id="twitter-link" href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
        </li> 
    </ul>
  </div>
</nav>