<form action="/sessions/new" method="post">
	<div class="form-group">
		Email: <input class="form-control" type="text" name="user_email">
		Password: <input class="form-control" type="password" name="user_password">
		<br>
		<input class="btn btn-default" type="submit" value="Sign In">
	</div>
</form>