<div class="alert alert-success" role="alert">Hello <%= @user.email %>!	 thankyou for joining chitter"</div>

<form action="tweets/new" method="post">
	Write your peep below:<input type="text" name="peep">
	<input type="submit" value="Peep">
</form>