<p>Please fill in your email and a password to sign up for chitter</p>

<form action="/users/" method="post">
<input type="text" name="email">
<input type="password" name="password">
<input type="password" name="password confirmation">
<input type="submit" value="Submit">
</form>