<div id="sign-up-welcome">
<h3>Welcome to Chitter.</h3>

Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
<br>
<br>
<a class="btn btn-primary" href="/users/new">Sign Up</a>
</div>



