html {
}

body {
	background-image: url("../bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	background-color:#C0DEED;
	padding-top: 70px;
	padding-bottom: 30px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.container {
	width:97%;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}



/*PEEP STYLING*/



.peep {
	margin-left:58px;
}


#peep-img {
	float:left;
	width:8%;
	border-radius:4px;
}
.peep-name {
	font-weight:bold;
}
.peep-username {
	color:rgb(136, 153, 166);
	font-weight:bold;
	font-size:13px;
}

.panel-heading {
	color: #292f33;
	font-size: 18px;
	font-weight: 500;
}

.panel-heading a {
	margin-left:20px;
}

/*END PEEP STYLING*/


.alert{ 
	margin-left:15px;
	margin-right:15px;
}


/*NAVBAR*/

.navbar-collapse {
	width:93%;
	margin:auto;
}
.navbar-form .form-group .form-control {
	border-radius:21px;
	color:#fff;
	background-color:#66757f;
	opacity: .6;
	.form-control::-webkit-input-placeholder { color: white; }
}
.navbar-form .form-group .form-control::-webkit-input-placeholder {
	 color: white; 
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color:white;
    z-index:1000;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

navbar navbar-fixed-top {
	font-size:2em;
	background-color:#fff;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { 
	margin-left: auto; 
	margin-right: auto; 
}
.navbar a:hover {
	border-bottom:5px solid;
	padding-bottom:8px;
}
.navbar a.navbar-brand:hover {
	border-bottom:0px solid;
}
#twitter-link:hover {
	border-bottom:0px solid;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-bottom-color:rgb(0, 132, 180);
}
.navbar-default {
	border-bottom-color:rgb(0, 132, 180);	
}

#twitter-link, .fa-twitter-square {
	padding-top:1.5px;
	margin-bottom:0px;
	padding-bottom:0px;
	color:rgb(0, 132, 180);
}



/*END NAVBAR STYLING*/


/*USER STYLING */

.user-panel img {
	width:80%;
	border-radius:8px;
}

.user-panel2 img {
	width:120%;
	border-radius:8px;
	margin-top:-60%;
	border:3px solid #fff;
}
.user-panel2>.panel-heading {
	background-color:#0084B4 !important;
	background-image:none;
	height:96px;
}

.user-panel2 .username {
	font-size:12px;
	color:rgb(102, 117, 127)
}
.user-panel2 .user_name {
	font-size:18px;
}	

.panel {
	border-image-width: 0;
	border-width:0.5px;
}	
	

#front {
	z-index:5;
	padding:7px;
}
#profile-image-container {
	padding:0px;
}
#profile-image-container {
	padding:5px;
}

.user-panel2>.list-group .list-group-item {
	border-width:0px;
	border-image-width:0px;	

}
.user-panel2>.list-group .list-group-item a {
	color:rgb(140, 156, 169);
	font-size:10px;
}


.user-panel2>.list-group .list-group-item .ammounts {
	color:rgb(0, 132, 180);
	font-size:18px;	
}
.list-inline {
	margin-left:5px;
}


#profile-tweet-form-holder, #profile-tweet-form {
	background-color:rgb(229, 242, 247);
}

#profile-tweet-form {
	display:none;
}


textarea {
    resize: none;
}

form i {
	color:rgb(0, 132, 180);
	margin-right:15px;
}
form button i {
	color:#fff;
	margin:0px;
}
.peep-count {
	margin-left:23%;
	margin-right:10px;
	color:rgb(136, 153, 166);
}
li {
	list-style-type:none;
}
/*END USER STYLING */


