<h2>Write your peep below</h2>

<form action="/peeps/new" method="post" class="form-group">
	<input type="text" name="peep" class="form-control">
	<br>
	<input type="submit" value="Peep" class="btn btn-primary">
</form>  


